link(rel='import' href="/bower_components/polymer/polymer.html")

link(rel="import" href="/bower_components/paper-menu/paper-menu.html")
link(rel="import" href="/bower_components/paper-item/paper-item.html")
link(rel="import" href="/bower_components/paper-badge/paper-badge.html")
link(rel="import" href="/bower_components/paper-card/paper-card.html")
link(rel="import" href="/bower_components/paper-button/paper-button.html")

style.
  .cards {
    @apply(--layout-vertical);
    @apply(--center-justified);
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .card {
    width: 100%;
    margin-top: 10px;
  }
  
  

dom-module(id="newsfeed-widget")
  template
    div(class="cards")
      paper-card(class="card")
        div(class="card-content") 
          span
            paper-button Delete
          span
            paper-button Open
          span hello worlds
      paper-card(class="card")
        div(class="card-content") hello worlds
        
  script.
    Polymer({
      is: "newsfeed-widget",
      properties: {
        owner: {
          type: Object
        },
        widgets: {
          type: Array
        },
        clickedEvent: {
          type: Function
        }
      },
      onClick: function(event) {
        this.clickedEvent(event.model ? event.model.item.id : "config")
      },
      ready: function() {
      },
      _toArray: function(obj) {
          return Object.keys(obj).map(function(key) {
            return obj[key];
          });
        }
    });
