doctype html
html
  head
    title Website
    link(rel="icon" href="/public/img/favicon.ico" type="image/x-icon")
    link(rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css")
    link(rel="stylesheet" href="/public/css/main.css")
    //- script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
    style.
      
  body
    div.container-fluid(style="padding-right:0px;padding-left:0px;overflow:hidden")
      div.row
        #sideMenu.col-xl-2
          ul.list-group
            li.list-group-item.active
              span
                i.fa.fa-diamond
              span  NiftyKick
            div.hidden
              li.btn.list-group-item(v-for="widget in widgets" v-on:click="widgetMenuClicked(widget)" style="text-align: inherit;")
                span {{widget.name}}
                span(class="label label-default label-pill pull-right" v-html="widget.notification")
              li.btn.list-group-item(id="config" v-on:click="configClicked()" style="text-align: inherit;")
                span
                  i.fa.fa-gears
                span(v-if="displayConfig")  Hide Config
                span(v-else)  Add/Configure widgets
              div
                span
                  a(v-bind:href="accountUrl")  Link
                span  to your account for other browsers
            
        div.col-xl-10
          div(style="width:100%;text-align: center;font-size: 0.7em;") Ver 0.1.1 - Please add any feedback 
            a(href="https://docs.google.com/document/d/1RsXUN85k7vbmU2VrBhYbr17s5elcvTPhGAEqNViqt8c/edit?usp=sharing") here.
          #widgetConfig.hidden
            div(v-if="displayConfig")
              div.card
                div.card-block
                  form(v-on:submit="saveWidget($event)" id="saveForm")
                    fieldset.form-group
                      h4.card-title Configure Widget: {{selectedWidget.name}}
                      div Name
                      input.form-control(v-model="selectedWidget.name" name="name")
                      div Settings
                      textarea.form-control(rows="15" style="width: 100%;" v-model="selectedWidget.settingsString" name="settings")
                      button.btn 
                        span
                          i.fa.fa-save
                        span  save
                      span(id="saveMsg")
                  form(v-on:submit="deleteWidget($event)" id="deleteForm")
                    button.btn 
                      span
                        i.fa.fa-trash
                      span  delete
              div.card
                div.card-block
                  form(v-on:submit="addWidget($event)" id="addForm")
                    fieldset.form-group
                      h4.card-title Add Widget
                      div Type
                        select.form-control(name="type")
                          option REDDIT
                          option HN
                          option XKCD
                          option DILBERT
                          option CANDH
                          option TV
                          option TOP_SPOTIFY
                      div Name
                      input.form-control(name="name")
                      button.btn(type="submit")
                        span
                          i.fa.fa-plus
                        span  add
                      span(id="addMsg")
          #widgetContent
            #loadingPage
              h1
                i(class='fa fa-refresh fa-spin' style="width:100%;text-align: center;")
            div.hidden
              div.card(v-for="story in stories")
                div.card-block
                  button.btn.btn-secondary(style="margin-right:3px;" v-on:click="storyClicked(story)")
                    i.fa.fa-close
                  a(target="_blank" v-bind:href="story.commentsUrl")
                    button.btn.btn-secondary( v-on:click="storyClicked(story)" style="margin-right:3px;")
                      i.fa.fa-comments
                  span.card-text 
                    a(target="_blank" v-bind:href="story.url" v-on:click="storyClicked(story)") {{story.title}}
    script(src="/browserify/index/logic.js")
    script.
      //- var widgetMenu = document.querySelector('#widgetMenu');
      //- widgetMenu.clickedEvent = function(id){
      //-   alert(id)
      //- }
      //- widgetMenu.widgets = {
      //-   reddit: {id:"reddit", name: "Reddit", notification: "3", type: "newsfeed"},
      //-   hn: {id:"hn", name: "Hacker News", notification: null, type: "newsfeed"}
      //- }
