doctype html
html
  head
    title Website
    script(src='/bower_components/webcomponentsjs/webcomponents-lite.min.js')

    link(rel="import" href="/bower_components/paper-styles/demo-pages.html")
    link(rel="import" href="/bower_components/paper-drawer-panel/paper-drawer-panel.html")
    link(rel="import" href="/bower_components/paper-button/paper-button.html")
    link(rel="import" href="/bower_components/paper-menu/paper-menu.html")
    link(rel="import" href="/bower_components/paper-item/paper-item.html")
    link(rel="import" href="/bower_components/neon-animation/neon-animated-pages.html")
    link(rel="import" href="/bower_components/neon-animation/neon-animations.html")

    link(rel="import" href="/views/components/widget-menu")
    link(rel="import" href="/views/components/newsfeed-widget")
    style.
      body {
        overflow: hidden;
      }
      neon-animated-pages {
        height: 100%;
      }
      paper-button {
        color: white;
        margin: 10px;
        background-color: #3367d6;
        white-space: nowrap;
      }
      paper-item {
        cursor: pointer;
      }
  body(class="fullbleed")
    paper-drawer-panel(id="paperDrawerPanel")
      div(drawer)
        widget-menu(id="widgetMenu")
      div(main)
        newsfeed-widget(id="newsfeed")
    script.
      var widgetMenu = document.querySelector('#widgetMenu');
      widgetMenu.clickedEvent = function(id){
        alert(id)
      }
      widgetMenu.widgets = {
        reddit: {id:"reddit", name: "Reddit", notification: "3", type: "newsfeed"},
        hn: {id:"hn", name: "Hacker News", notification: null, type: "newsfeed"}
      }
