extends ./header.jade
block content
  #loadingPage
    h1(style="width:100%;text-align: center;")
      i(class='fa fa-refresh fa-spin')
  #content.container-fluid(style="padding-right:30px;padding-left:30px;overflow:hidden")
    .row.row-offcanvas.row-offcanvas-left
      #sidebar.col-6.col-md-3.col-xl-2.sidebar-offcanvas.hidden
        //- SIDEMENU WIDGETS
        ul.list-group
          div
            li.btn.list-group-item(v-for="widget in widgets"  v-on:click="widgetMenuClicked(widget)" style="text-align: inherit;white-space: normal;")
              span(v-bind:class="{ activeText: selectedWidget == widget }") {{widget.name}}
              span(class="label label-default label-pill pull-right" v-bind:class="{ activeNum: selectedWidget == widget }" v-html="widget.notification")
            li.btn.list-group-item(id="config" v-on:click="configClicked()" style="text-align: inherit;")
              span
                i.fa.fa-gear
              span(v-if="displayConfig")  Hide Settings
              span(v-else)  Settings
            div
              span
                a(v-bind:href="accountUrl")  Link
              span  to your account for other browsers
              <br><br>
              a(href="#" v-on:click="createNewAccount()") Create New Account
              <br><br>
            div(style="width:100%;text-align: center;font-size: 0.7em;") Ver 0.2.1 - Please add any feedback 
              a(href="https://docs.google.com/document/d/1RsXUN85k7vbmU2VrBhYbr17s5elcvTPhGAEqNViqt8c/edit?usp=sharing") here.
      .col-12.col-md-9.col-xl-10.hidden
        p.float-left.hidden-md-up
          button.btn.btn-primary.btn-sm(type='button', data-toggle='offcanvas') Toggle Menu
        //- SETTINGS MENU
        #settings.hidden(style="margin-left:20px;" v-if="displayConfig")
          form(v-on:submit.prevent="submitSettings")
            h2 Select your feeds
            div
              label.form-check-inline(style="display: table;width:100%")
                input.form-check-input(type="checkbox" value="REDDIT" v-model="checkedWidgets")
                p Reddit 
                p Subreddits:
                input(id="autocomp" style="width: 100%; display: table-cell;" data-list="skReddit, funny, todayilearned, pics, science, worldnews, IAmA, announcements, videos, gaming, movies, Music, aww, news, gifs, explainlikeimfive, askscience, EarthPorn, books, television, LifeProTips, mildlyinteresting, DIY, Showerthoughts, space, sports, tifu, Jokes, InternetIsBeautiful, food, gadgets, history, photoshopbattles, nottheonion, dataisbeautiful, Futurology, Documentaries, GetMotivated, personalfinance, listentothis, philosophy, UpliftingNews, OldSchoolCool, Art, creepy, nosleep, WritingPrompts, TwoXChromosomes, Fitness, technology, bestof, WTF, AdviceAnimals, politics, atheism, woahdude, europe, leagueoflegends, trees, pokemongo, gameofthrones, interestingasfuck, 4chan, Games, BlackPeopleTwitter, programming, Android, sex, cringepics, pcmasterrace, reactiongifs, malefashionadvice, Overwatch, pokemon, Frugal, YouShouldKnow, fffffffuuuuuuuuuuuu, Unexpected, relationships, HistoryPorn, AskHistorians, oddlysatisfying, lifehacks, nfl, soccer, StarWars, tattoos, comics, OutOfTheLoop, JusticePorn, Minecraft, FoodPorn, facepalm, cringe, nba, hiphopheads, me_irl, olympics, wheredidthesodago, GlobalOffensive, anime, buildapc, wallpapers, GameDeals, hearthstone, freebies, conspiracy, gentlemanboners, Cooking, TrueReddit, cats, shittyaskscience, talesfromtechsupport, apple, loseit, EatCheapAndHealthy, skyrim, NetflixBestOf, asoiaf, RoomPorn, wow, humor, Fallout, spaceporn, baconreader" data-multiple)
            div
              label.form-check-inline
                input.form-check-input(type="checkbox" value="HN" v-model="checkedWidgets")
                p Hacker News  
            div
              label.form-check-inline
                input.form-check-input(type="checkbox" value="XKCD" v-model="checkedWidgets")
                p XKCD 
            div
              label.form-check-inline
                input.form-check-input(type="checkbox" value="DILBERT" v-model="checkedWidgets")
                p Dilbert  
            div
              label.form-check-inline
                input.form-check-input(type="checkbox" value="CANDH" v-model="checkedWidgets")
                p Cyanide and Happiness 
            div
              label.form-check-inline
                input.form-check-input(type="checkbox" value="SMBC" v-model="checkedWidgets")
                p Saturday Morning Breakfast Cereal
            div
              label.form-check-inline
                input.form-check-input(type="checkbox" value="TOP_SPOTIFY" v-model="checkedWidgets")
                p New Music
            div
              label.form-check-inline
                input.form-check-input(type="checkbox" value="YOUTUBE" v-model="checkedWidgets")
                p Youtube trending
            button.btn Save     
        //- FEED
        div(v-if="selectedWidget")
          div.card(v-for="story in selectedWidget.stories")
            div.card-block
              button.btn.btn-secondary(style="margin-right:3px;" v-on:click="storyClicked(story)")
                i.fa.fa-close
              a(target="_blank" v-bind:href="story.commentsUrl")
                button.btn.btn-secondary( v-on:click="storyClicked(story)" style="margin-right:3px;")
                  i.fa.fa-comments
              span.card-text 
                a(target="_blank" v-bind:href="story.url" v-on:click="storyClicked(story)") {{story.title}}
block scripts
  script(src="/browserify/pivot/logic.js")
