doctype html
html
  head
    title Website
    link(rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css")
    link(rel="stylesheet" href="/public/css/main.css")
    //- script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
    style.
      
  body
    div.container-fluid(style="padding-right:0px;padding-left:0px;overflow:hidden")
      div.row
        #sideMenu.col-xl-2
          ul.list-group
            li.list-group-item.active
              span
                i.fa.fa-diamond
              span  NiftyKick
            div.rvHide
              li.btn.list-group-item(rv-each-widget="widgets" rv-on-click="widgetMenuClicked" style="text-align: inherit;")
                span [[widget.name]]
                span(class="label label-default label-pill pull-right" rv-html="widget.notification")
              div
                span
                  a(rv-href="accountUrl")  Link
                span  to your account for other browsers
        #widgetContent.col-xl-10
          #loadingPage
            h1
              i(class='fa fa-refresh fa-spin' style="width:100%;text-align: center;")
          div.rvHide
            div.card(rv-each-story="stories")
              div.card-block
                button.btn.btn-secondary(style="margin-right:3px;" rv-on-click="storyClicked")
                  i.fa.fa-close
                a(target="_blank" rv-href="story.commentsUrl")
                  button.btn.btn-secondary( rv-on-click="storyClicked" style="margin-right:3px;")
                    i.fa.fa-comments
                span.card-text [[story.title]]
    script(src="/browserify/index/logic.js")
    script.
      //- var widgetMenu = document.querySelector('#widgetMenu');
      //- widgetMenu.clickedEvent = function(id){
      //-   alert(id)
      //- }
      //- widgetMenu.widgets = {
      //-   reddit: {id:"reddit", name: "Reddit", notification: "3", type: "newsfeed"},
      //-   hn: {id:"hn", name: "Hacker News", notification: null, type: "newsfeed"}
      //- }
