doctype html
html
  head
    title NiftyKick
    link(rel="icon" href="/public/img/favicon.ico" type="image/x-icon")
    link(rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css")
    //- link(rel="stylesheet" href="/public/css/main.css")
    //- script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
    style.
      body {
        font-family: Helvetica Neue,Helvetica,sans-serif;
        //- background-color: #eaeaea;
        color: #373a3c;
        width: 100%;
        
        width: 100%;
        position: relative;
        max-width: 1060px;
        margin-left:auto;margin-right:auto;
      }
      .menu-btn, .menu-btn:hover {
        color: #373a3c;
        padding: 20px
      }
      .display-img {
        width: 300px; height:200px;
      }
      .list-card {
        padding: 10px;
      }
      
      /* Shine */
      .hover14 {
      	position: relative;
      }
      .hover14::before {
      	position: absolute;
      	top: 0;
      	left: -75%;
      	z-index: 0;
      	display: block;
      	content: '';
      	width: 50%;
      	height: 100%;
      	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
      	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
      	-webkit-transform: skewX(-25deg);
      	transform: skewX(-25deg);
      }
      .hover14:hover::before {
      	-webkit-animation: shine .75s;
      	animation: shine .75s;
      }
      @-webkit-keyframes shine {
      	100% {
      		left: 125%;
      	}
      }
      @keyframes shine {
      	100% {
      		left: 125%;
      	}
      }
  body
      #top-menu
        #title(style="text-align:center;")
          h1(style="font-weight: bold;") NIFTYKICK 🔥 💯 	😂
          p#quote
        #menu(style="text-align:center;")
          a.menu-btn(href="#home") Featured
          a.menu-btn(href="/classic") All News
          a.menu-btn(href="#recommend") Stuff I Recommend
          a.menu-btn(href="#discussion") Discussion
      #content.container-fluid(style="padding-top:20px;")
        div.row.list-card
          div.hover14.col-sm-4
            img.display-img(src="/public/img/launch.png")
          div.col-sm-8
            h4 NIFTYKICK launch 🔥🔥🔥
            p We did it, after 4 years of working hard at a software engineering degree I figured out how to make a website.
        div.row.list-card
          div.hover14.col-sm-4
            img.display-img(src="/public/img/keyboard.png")
          div.col-sm-8
            h4 Under 40$: Best mechanical keyboard
            p The Redragon K552 has exactly what is needed out of a mechanical keyboard
  script(src="https://code.jquery.com/jquery-3.1.1.min.js")
  script.
        var comments = [
          'Listen to the kids bro', 
          'I can’t let these people play me Name one genius that ain\'t crazy',
          'I miss the old Kanye',
          'Turn the 6',
          'I turn the six upside down, it\'s a nine now',
          'My thesis will smash a stereo to pieces',
          'Went to Burger King, they spit in my onion rings',
          'I\'m not a \'Business-Man\'! I\'m a Business... man! Let me handle my business, damn!',
          'Why you gotta fight with me at cheesecake',
          'Chop the top off the Porsche, that\'s a headless horse',
          'I\'m not out of control, I\'m just not in they control'
        ]
        console.log($("#quote"))
        $("#quote").html('"'+comments[Math.floor(Math.random()*comments.length)]+'"')
        
        //analytics
        ;(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-86176383-1', 'auto');
        ga('send', 'pageview');
        
