doctype html
html
  head
    title NiftyWorld
    link(rel="icon" href="/public/img/favicon.ico" type="image/x-icon")
    style.
      body {
        margin: 0px;
      }

      #container {
        display: flex;
      }
  body(id="body")
    #container
    script(src="/browserify/niftyWorld/niftySpace.js")
