extends ./header.jade
block content
  #content.container-fluid(style="padding-right:20px;padding-left:20px;overflow:hidden")
    #news.row
      #stuff.col-xl-12
        h2 Under $30 Toys
        div
          a(href="https://www.amazon.com/gp/product/B01C35B6ZW/ref=as_li_tl?ie=UTF8&tag=niftykick-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=B01C35B6ZW&linkId=2c53865b112379ff0a3ccdee3606386d") Gyro Sphere Toy (~$15)
        div
          a(href="https://www.amazon.com/gp/product/B00UD6FAE2/ref=as_li_tl?ie=UTF8&tag=niftykick-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=B00UD6FAE2&linkId=b75ba6bcc004f796392a099979a2c172") Monkey Knuckles (~$12) Pretty cool toy
        div
          a(href="https://www.amazon.com/gp/product/B01MSLJDB1/ref=as_li_tl?ie=UTF8&tag=niftykick-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=B01MSLJDB1&linkId=075d41b5af9b989a7ce13645c3510517") Spinner fidget toy (~$20)
        div
          a(href="https://www.amazon.com/gp/product/B01BKS07E4/ref=as_li_tl?ie=UTF8&tag=niftykick-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=B01BKS07E4&linkId=edbdc5f59bdd17f8aad79a6f76920bc7") Chain fidget toy (~$12)
        <br>
        h2 Nifty Computer Stuff
        div
          a(href="https://www.amazon.com/gp/product/B01LWZ7JB2/ref=as_li_tl?ie=UTF8&tag=niftykick-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=B01LWZ7JB2&linkId=37f40027f08c6da5fe871efd1e90596f") Laptop - Swift 3 (~$600) Finally a good laptop under $1k!
        div
          a(href="https://www.amazon.com/gp/product/B016MAK38U/ref=as_li_tl?ie=UTF8&tag=niftykick-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=B016MAK38U&linkId=a56da13d8e17bf73c4a777a49869b218") Keyboard - Red Dragon Mechanical Keyboard (~$40) Crazy good for the price!
        div
          a(href="https://www.amazon.com/gp/product/B00HTK1NCS/ref=as_li_tl?ie=UTF8&tag=niftykick-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=B00HTK1NCS&linkId=bc8572c684a4cc8317cb417fb0a39493") Mouse - Red dragon (~$15)
        div
          a(href="https://www.amazon.com/gp/product/B01KVZBNY0/ref=as_li_tl?ie=UTF8&tag=niftykick-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=B01KVZBNY0&linkId=03592836740c017e0cc785edffade268") GPU - GTX 1070 (~$400) Need this beast for VR
        div
          a(href="https://www.amazon.com/gp/product/B010T6CWI2/ref=as_li_tl?ie=UTF8&tag=niftykick-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=B010T6CWI2&linkId=872f2da7abd6cd53916ae449816fbdc0") CPU - i5 (~$200)
        div
          a(href="https://www.amazon.com/gp/product/B00I6BJATW/ref=as_li_tl?ie=UTF8&tag=niftykick-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=B00I6BJATW&linkId=2c063516d17cbe2aa034edf4f13e3273") Case ($50) Meh, any will do
        div
          a(href="https://www.amazon.com/gp/product/B00EON40CS/ref=as_li_tl?ie=UTF8&tag=niftykick-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=B00EON40CS&linkId=caa1a0abaa5d2309b42a67487c4fe8c3") Power Supply (~$50)
        div
          a(href="https://www.amazon.com/gp/product/B0165YUDTM/ref=as_li_tl?ie=UTF8&tag=niftykick-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=B0165YUDTM&linkId=e129ed2d586863de79f208985ee87f22") Mother Board (~$50)
        <br>
        h2 Nifty Furniture
        div
          a(href="https://www.amazon.com/gp/product/B002FYGP5I/ref=as_li_tl?ie=UTF8&tag=niftykick-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=B002FYGP5I&linkId=579a3af611fca6bfa0e547125a58e299") Desk (~$130) This desk is legit glass!
        div
          a(href="https://www.amazon.com/gp/product/B0049UCECE/ref=as_li_tl?ie=UTF8&tag=niftykick-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=B0049UCECE&linkId=7c81ad69035f00772c91e5c40e8b74e7") Chair (~$180) Feel like you work at a startup~
        div
          a(href="https://www.amazon.com/gp/product/B005FKMUHQ/ref=as_li_tl?ie=UTF8&tag=niftykick-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=B005FKMUHQ&linkId=c9311df142f230027a7b5bf2cedbc0c0") Futon (~$200) Couch and bed all in one!
block scripts
  //- script(src="/browserify/pivot/logic.js")
