doctype html
html
  head
    title NiftyWorld
    link(rel="icon" href="/public/img/favicon.ico" type="image/x-icon")
    style.
      body {
        margin: 0px;
      }

      #container {
        display: flex;
      }
  body(id="bod")
    #player(style="width:1px;height:1px")
    //- iframe(id="frame" src="https://www.youtube.com/embed/uVuBqTQTqRQ" height="200" width="300")
    //- button(id="btn")
    #container
    script(src="/browserify/niftyWorld/niftyWorldEditor.js")
